nav {
    background: linear-gradient(to right, #0044cc, #0088ff);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 2; /* Para que esté por encima de otros elementos */
}

.navbar-brand .logo2 {
    font-size: 1.8rem;
    margin: 0 15px;
}

label {
    font-weight: bold;
    margin-right: 10px;
    min-width: 80px;
}
 
.select-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 15px;
}
select {
    width: 217px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    margin: 0 10px 5px;
}

.input-mes{
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    margin: 0 10px 5px;
    max-width: 201px;
}

button {
    background: #0066cc;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
    margin: 0 10px 5px;
}

button:hover {
    background: #000000;
}

/* 📌 Responsive: Navbar adaptable en móviles */
@media (max-width: 768px) {
    nav {
        flex-direction: column; /* Se apilan los elementos */
        align-items: center;
        padding: 10px;
    }

    label, select, button {
        width: 100%; /* Ocupan todo el ancho */
        text-align: center;
        margin: 5px 0;
    }
}
