.select-label-container {
    display: flex;
    align-items: center;
    margin: 0 10px 15px;
}

select:hover {
    border-color: var(--color-primario-hover);
}

select:focus {
    outline: none;
    box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.5);
}

.select-option {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 217px;
}